:host {
    width: 100%;
  
    .list {
      height: 100vh;
      background-color: #444444;
      color: #ffffff;
      display: flex;
      flex-direction: column;
  
      .tasks {
        height: 75vh;
      }
  
      .add-task {
        height: 20vh;
      }
    }
  
    h1 {
      height: 5vh;
      padding: 10px;
    }
  }
  
  
  
  // task style
  .task {
      max-width: 100%;
      border: 1px solid red;
      display: flex;
      align-items: center;
      padding: 10px;
  
      input {
          width: 30px;
          height: 30px;
      }
  
      span {
          width: 300px;
          height: 30px;
          display: flex;
          align-items: center;
          padding: 0 10px;
      }
  }
  