<div class="list">
    <h1>Tasks</h1>
    <button (click)="clear()">Remove all</button>
  
    <ul class="tasks">
      <li *ngFor="let data of tasks" class="task" (click)="changeToggle(data)">
        <input type="checkbox" name="" id="">
        <span>{{ data?.task }}</span>
        <button (click)="deleteTask(data)">delete</button>
      </li>
    </ul>
  
    <div class="add-task">
      <input (keyup.enter)="create(taskElement.value); taskElement.value=''"  #taskElement type="text" placeholder="Enter your task here" required>
      <button (click)="create(taskElement.value); taskElement.value='';">Add</button>
    </div>
  
  </div>
      